/* font-family: 'Lobster', cursive; */
/* font-family: 'Orbitron', sans-serif; */
.navbar-brand{
    font-family: 'Orbitron', sans-serif;
}
#ul1{
    margin-left: 40px;
}

#img1, #img2, #img3{
    height: 450px;
}

.nav-link{
    color: white !important;
}
   


/* float class is imported from catto css. */
.float{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.float:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}
              

       